.tag {
    align-items: center;
    display: flex;
    gap: 4px;
    background: #eee;
    border-radius: 6px;
    color: #444;
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
    font-family: monospace;
}