.tag {
    align-items: center;
    display: flex;
    gap: 4px;
    background: #eee;
    border-radius: 6px;
    color: #444;
    font-size: 0.65rem;
    font-weight: 570;
    padding: 0.15rem 0.45rem;
    font-family: monospace;
}